
.body{
		


        background: -moz-radial-gradient(top right, circle farthest-side, #fb01ff 0%, #38aae6 100%);
        background: -o-radial-gradient(top right, circle farthest-side, #fb01ff 0%, #38aae6 100%);
        background: -ms-radial-gradient(top right, circle farthest-side, #fb01ff 0%, #38aae6 100%);
        background: -webkit-radial-gradient(top right, circle farthest-side, #fb01ff 0%, #38aae6 100%);
}

.formdangnhap{

	border-radius: 30px;
	margin-top: 150px;
	text-align: center;
	background: white;
	padding: 20px;

}

.form-control{
	border-radius: 15px;
}

.form-group .col-sm-12 .btn
{
	border-radius: 15px;
	margin: auto;
	width: 100%;
	height: 60px;
	background-color: #38aae6;
}

.form-group .col-sm-12 .btn:hover{
		background-color: #38aae6;
        background: -moz-linear-gradient(left top, #38aae6 30%, #fb01ff 90%);
        background: -o-linear-gradient(left top, #38aae6 30%, #fb01ff 90%);
        background: -ms-linear-gradient(left top, #38aae6 30%, #fb01ff 90%);
        background: -webkit-gradient(linear,left top,right bottom,color-stop(0.3, #38aae6),color-stop(0.9, #fb01ff));
}